* {
    padding: 0;
    margin: 0;
}

body {
    background: #27241D;
}

header {
    height: 10vh;
}

main {
    height: 80vh;
}

canvas {
    /*font-family: 'Nunito Sans';*/
    padding: 0;
    margin: auto;
    display: block;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#win {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Canvas height is 80% of vh */
    width: 60vh;
    height: 60vh;
    border-radius: 15%;
    background: #27241D;
    border: 5px #C7A86B solid;
    opacity: 0.95;
    font-family: sans-serif;
}

.timer {
    text-align: center;

    color: white;
    font-size: 60px;
    letter-spacing: 0.1em;
    margin-top: 15%;
}

.grats-text {
    text-align: center;

    color: #C7A86B;
    font-size: 24px;
    margin-top: 15%;
}

footer {
    height: 10vh;
}

#collapse_elements {
    background: #A39E93;
    display: none; /*Set display to 'none' to disable collapse board*/
    position: absolute;
    top: 0;
    left: 75%;
}

#collapse_header {
    height: 10vh;
    background: #27241D;
}

#collapse_container {
    height: 80vh;
}

#collapse_footer {
    height: 10vh;
    background: #27241D;
}