* {
    padding: 0;
    margin: 0;
}

body {
    background: #27241D;
    color: #FAF9F7;
    font-family: sans-serif;
    font-weight: lighter;
}

header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    width: 80vh;
    color:#C7A86B;
}

.header-content-box {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer {
    font-weight: bold;
    font-size: 24px;
}

#restart {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    color: #A39E93;
}

/* Greeting CSS */
#greeting {
    position: absolute;
    height: 100vh;
    background: #27241D;
}

main {
    height: 80vh;
}

canvas {
    /*font-family: 'Nunito Sans';*/
    padding: 0;
    margin: auto;
    display: block;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.prompt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Canvas height is 80% of vh */
    width: 44vh;
    height: 44vh;
    padding: 4%;
    border-radius: 15%;

    background: #27241D;
    border: 5px #C7A86B solid;
    text-align: center;
}

#end_timer {
    margin-top: 15%;
    font-size: 70px;
    color: #C7A86B;
}

#grats-text {
    margin-top: 5%;
    font-size: 20px;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

#play-again {
    margin: 10% 0;
    padding: 5%;
    color: #FAF9F7;
    border: 1px #FAF9F7 solid;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

#play-again:hover {
    border: 1px #C7A86B solid;
    color: #C7A86B;
}

#welcome p {
    margin: 5% 0 15% 0;
}

#difficulty {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20%;
    margin: 5% 0;
}

.box {
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border: 1px #A39E93 solid;
    border-radius: 15px;
    font-size: 18px;
    transition: 0.3s;
}

/*Note that the Referee class looks for this property so changing .actives name will break code*/
.box.active {
    border: 2px #C7A86B solid;
    color: #C7A86B;
}

#name_input {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    margin: 5% 0;
}

#name_input input {
    padding: 10px 20px;
    margin: 5px;
    color:#FAF9F7;
    background: #27241D;
    border: 1px#A39E93 solid;
    border-radius: 10px;
}

#submit {
    cursor: pointer;
}

#leaderboard {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-0%, -50%);

    height: 50vh;
    width: 30vh;
}

#leaderboard table {
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
}

#leaderboard tr {
    height: calc(100% / 5);
    /* Divide the height equally among 5 rows */
}

#leaderboard tr:nth-child(even) {
    color: #C7A86B;
}

footer {
    height: 10vh;
}

#collapse_elements {
    background: #A39E93;
    display: none;
    /*Set display to 'none' to disable collapse board*/
    position: absolute;
    top: 0;
    left: 75%;
}

#collapse_header {
    height: 10vh;
    background: #27241D;
}

#collapse_container {
    height: 80vh;
}

#collapse_footer {
    height: 10vh;
    background: #27241D;
}