/*
font-family: 'Nunito Sans', sans-serif;
(has 200, 300, 400)
*/

* {
    padding: 0;
    margin: 0;
}

header {
    height: 5vh;
    background: #e7cfb4;
}

main {
    height: 90vh;
    background: #e7cfb4;
}
canvas {
    font-family: 'Nunito Sans';
    background: white;
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

footer {
    background: #e7cfb4;
    height: 5vh
}